
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.img {  
    height: 93px;
    width: 309px;
    margin-top: 20px;
    margin-bottom: 50px;
}


form {
    border: 1px solid lightgrey;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 16px;
    padding-bottom: 25px;
    border-radius: 5px;
}

.btn {
    width: 350px;
    margin-top: 20px;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


#yellow-button {
  background-color: #FFD700;
  border: 3px, black;
  border-style: shadow;
  margin-top: 10px;
  margin-bottom: 10px;
}

#grey-button {
  background-color: lightgrey;
  border: black;
  margin-top: 10px;
  margin-bottom: 10px;
}


#grey-button {
  background-color: lightgrey;
  border: black;
    
  
}
