
body {
    height: 100%;
  }
  
.card-img-top{
  border: 20%;
}

#forgot {
  font-size: smaller;
  margin-top: 10px;
}


#create {
  background-color:#00A400;
}

.container {
  background-color: rgb(235, 235, 235);
 min-height: 600px;
 min-width: 100%;
}

h1 {
  margin-top: 90px;
  font-weight: 700;
}

#connect {
  font-size: xx-large;
  font-weight: 400;
}

#left {
  margin-left: 90px;
  margin-top: 50px          ;
}
